<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>spl.icns</string>
			<key>CFBundleTypeName</key>
			<string>SPL</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>http://strymon.net</string>
	<key>CFBundleSignature</key>
	<string>spl</string>
	<key>CFBundleDisplayName</key>
	<string>Strymon Librarian</string>
	<key>CFBundleExecutable</key>
	<string>spl</string>
	<key>CFBundleIconFile</key>
	<string>spl.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.damagecontrolusa.spl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Strymon Librarian</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.4.44</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2013 Damage Control Engineering LLC</string>
</dict>
</plist>
